Chummer/data/bonuses.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:include schemaLocation="commons.xsd"/>

  <xs:element name="bonus">
    <xs:complexType>
      <xs:all>
        <xs:element name="actiondicepool" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="val" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="activeskillkarmacost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element name="min" type="xs:integer" minOccurs="0" />
              <xs:element name="max" type="xs:integer" minOccurs="0" />
              <xs:element name="condition" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="activesoft" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="val" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="adapsin" minOccurs="0" />
        <xs:element name="addcontact" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:all>
              <xs:element name="loyalty" type="xs:integer" minOccurs="0"/>
              <xs:element name="connection" type="xs:integer" minOccurs="0"/>
              <xs:element name="forcedloyalty" type="xs:integer"/>
              <xs:element name="forcegroup" minOccurs="0"/>
              <xs:element name="free"/>
              <xs:element name="group"/>
              <xs:element name="canwrite" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="addecho" type="xs:string" minOccurs="0" />
        <xs:element name="addesstophysicalcmrecovery" minOccurs="0" />
        <xs:element name="addesstostuncmrecovery" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addgear" minOccurs="0" >
          <xs:complexType>
            <xs:all>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="rating" type="xs:integer" minOccurs="0" />
              <xs:element name="children" minOccurs="0" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="child">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="category" type="xs:string"/>
                          <xs:element name="rating" type="xs:integer"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="addlimb" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="limbslot" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="precedence" type="xs:integer" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="addmetamagic" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="forced" type="boolean" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="addqualities" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="addquality" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="options" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="collegeeducation" type="xs:string" minOccurs="0"/>
                          <xs:element name="technicalschooleducation" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="rating" type="xs:unsignedByte" use="optional"/>
                  <xs:attribute name="select" type="xs:string" use="optional"/>
                  <xs:attribute name="forced" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="addquality" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="options" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quality" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="addskillspecializationoption" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:all>
              <xs:element name="skills" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="skill" type="xs:string" minOccurs="0"/>
              <xs:element name="spec" type="xs:string"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="addspell" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="alchemical" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="addspirit" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="addtoselected" type="xs:string" minOccurs="0"/>
              <xs:element name="spirit" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="addware" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="grade" type="xs:string"/>
              <xs:element name="type" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="addweapon" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="adeptpowerpoints" type="xs:integer" minOccurs="0"/>
        <xs:element name="allowskilldefaulting" minOccurs="0"/>
        <xs:element name="allowspellcategory" type="xs:string" minOccurs="0" />
        <xs:element name="allowspellrange" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="allowspritefettering" minOccurs="0" />
        <xs:element name="ambidextrous" minOccurs="0" />
        <xs:element name="armor" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="group" type="xs:integer" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="astralreputation" type="xs:integer" minOccurs="0" />
        <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="value" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attributekarmacost" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="biowareessmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="blackmarketdiscount" minOccurs="0" />
        <xs:element name="blockskillcategorydefaulting" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="blockspelldescriptor" type="xs:string" minOccurs="0"/>
        <xs:element name="burnoutsway" minOccurs="0" />
        <xs:element name="coldarmor" type="xs:string" minOccurs="0"/>
        <xs:element name="composure" type="xs:integer" minOccurs="0"/>
        <xs:element name="conditionmonitor" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sharedthresholdoffset" type="xs:string" minOccurs="0"/>
              <xs:element name="physical" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                  <xs:union memberTypes="xs:integer xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="stun" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                  <xs:union memberTypes="xs:integer xs:string"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="thresholdoffset" type="xs:string" minOccurs="0"/>
              <xs:element name="threshold" type="xs:integer" minOccurs="0"/>
              <xs:element name="overflow" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="contactkarma" type="xs:integer" minOccurs="0"/>
        <xs:element name="contactkarmaminimum" type="xs:integer" minOccurs="0"/>
        <xs:element name="critterpowerlevels" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="power" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="val" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="critterpowers" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="power" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="select" type="xs:string" use="optional"/>
                      <xs:attribute name="rating" type="xs:integer" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cyberadeptdaemon" minOccurs="0"/>
        <xs:element name="cyberseeker" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="cyberwareessmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="cyberwaretotalessmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="damageresistance" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="dealerconnection" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="decreaseagiresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="decreasebodresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="decreasecharesist" type="xs:integer" minOccurs="0"/>
        <xs:element name="decreaseintresist" type="xs:string" minOccurs="0"/>
        <xs:element name="decreaselogresist" type="xs:string" minOccurs="0"/>
        <xs:element name="decreaserearesist" type="xs:integer" minOccurs="0"/>
        <xs:element name="decreasestrresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="decreasewilresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="defensetest" type="xs:integer" minOccurs="0"/>
        <xs:element name="detectionspellresist" type="xs:string" minOccurs="0"/>
        <xs:element name="directmanaspellresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="disablebioware" minOccurs="0"/>
        <xs:element name="disablebiowaregrade" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="disablecyberwaregrade" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="disablequality" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="dodge" type="xs:string" minOccurs="0"/>
        <xs:element name="drainresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="drainvalue" type="xs:integer" minOccurs="0"/>
        <xs:element name="electricityarmor" type="xs:string" minOccurs="0"/>
        <xs:element name="enableattribute" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="min" type="xs:string"/>
              <xs:element minOccurs="0" name="max" type="xs:string"/>
              <xs:element minOccurs="0" name="aug" type="xs:string"/>
              <xs:element minOccurs="0" name="val" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enabletab" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reach" type="xs:integer" minOccurs="0" />
              <xs:element name="name" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="erased" minOccurs="0"/>
        <xs:element name="essencemax" type="xs:integer" minOccurs="0"/>
        <xs:element name="essencepenalty" type="xs:integer" minOccurs="0"/>
        <xs:element name="essencepenaltymagonlyt100" type="xs:integer" minOccurs="0"/>
        <xs:element name="essencepenaltyt100" type="xs:string" minOccurs="0"/>
        <xs:element name="excon" minOccurs="0"/>
        <xs:element name="fadingresist" type="xs:integer" minOccurs="0"/>
        <xs:element name="fadingvalue" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:integer">
                <xs:attribute name="specific" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="fame" minOccurs="0"/>
        <xs:element name="fatigueresist" type="xs:string" minOccurs="0"/>
        <xs:element name="firearmor" type="xs:string" minOccurs="0"/>
        <xs:element name="focusbindingkarmacost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element name="extracontains" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="freequality" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="freespells" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="attribute" type="xs:string" use="optional"/>
            <xs:attribute name="limit" type="xs:string" use="optional"/>
            <xs:attribute name="skill" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="friendsinhighplaces" minOccurs="0"/>
        <xs:element name="genetechcostmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="genetechessmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="hardwires" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="knowledgeskill" type="xs:string" use="optional"/>
                <xs:attribute name="excludecategory" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="initiative" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="precedence" type="xs:integer" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="initiativedice" type="xs:integer" minOccurs="0"/>
        <xs:element name="initiativepass" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="precedence" type="xs:integer" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="initiativepassadd" type="xs:integer" minOccurs="0"/>
        <xs:element name="judgeintentions" type="xs:string" minOccurs="0"/>
        <xs:element name="judgeintentionsdefense" type="xs:string" minOccurs="0"/>
        <xs:element name="judgeintentionsoffense" type="xs:string" minOccurs="0"/>
        <xs:element name="knowledgeskillkarmacost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name"/>
              <xs:element name="val" type="xs:string"/>
              <xs:element name="min" type="xs:integer" minOccurs="0"/>
              <xs:element name="max" type="xs:integer" minOccurs="0"/>
              <xs:element name="condition" type="xs:string"  minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="knowledgeskillkarmacostmin" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element name="max" type="xs:integer"/>
              <xs:element name="condition" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="knowledgeskillpoints" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lifestylecost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:integer">
                <xs:attribute name="lifestyle" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="limit" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="value" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="limitcritterpowercategory" type="xs:string" minOccurs="0" />
        <xs:element name="limitmodifier" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="limit" type="xs:string"/>
              <xs:element name="value" type="xs:string"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="limitspellcategory" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="exclude" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="limitspiritcategory" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="spirit" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="livingpersona" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="sleaze" type="xs:integer"/>
              <xs:element minOccurs="0" name="firewall" type="xs:integer"/>
              <xs:element minOccurs="0" name="dataprocessing" type="xs:integer"/>
              <xs:element minOccurs="0" name="attack" type="xs:integer"/>
              <xs:element minOccurs="0" name="signal" type="xs:integer"/>
              <xs:element minOccurs="0" name="system" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mademan" minOccurs="0"/>
        <xs:element name="magicianswaydiscount" minOccurs="0"/>
        <xs:element name="manaillusionresist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="martialart" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="matrixinitiative" type="xs:integer" minOccurs="0" />
        <xs:element name="matrixinitiativedice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:integer">
                <xs:attribute name="precedence" type="xs:integer" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="matrixinitiativediceadd" type="xs:integer" minOccurs="0" />
        <xs:element name="memory" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="mentallimit" type="xs:string" minOccurs="0"/>
        <xs:element name="mentalmanipulationresist" type="xs:string" minOccurs="0"/>
        <xs:element name="metageniclimit" type="xs:integer" minOccurs="0"/>
        <xs:element name="metamagiclimit" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metamagic" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="grade" type="xs:integer" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="movementreplace" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="speed" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nativelanguagelimit" type="xs:integer" minOccurs="0"/>
        <xs:element name="naturalweapon" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="reach" type="xs:integer"/>
              <xs:element name="damage" type="xs:string"/>
              <xs:element name="ap" type="xs:string" minOccurs="0"/>
              <xs:element name="useskill" type="xs:string"/>
              <xs:element name="useskillspec" type="xs:string" minOccurs="0"/>
              <xs:element name="accuracy" type="xs:string"/>
              <xs:element name="source" type="xs:string"/>
              <xs:element name="page" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="newspellkarmacost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:integer">
                <xs:attribute name="type" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="notoriety" type="xs:integer" minOccurs="0"/>
        <xs:element name="nuyenamt" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:integer">
                <xs:attribute name="condition" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="nuyenmaxbp" type="xs:integer" minOccurs="0" />
        <xs:element name="optionalpowers" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="optionalpower" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="select" type="xs:string" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="overclocker" minOccurs="0"/>
        <xs:element name="pathogencontactimmune" minOccurs="0"/>
        <xs:element name="pathogencontactresist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="pathogeningestionresist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="pathogeninhalationimmune" minOccurs="0"/>
        <xs:element name="pathogeninhalationresist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="pathogeninjectionresist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="penaltyfreesustain" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="count" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="physicalcmrecovery" type="xs:string" minOccurs="0"/>
        <xs:element name="physicalillusionresist" type="xs:string" minOccurs="0" />
        <xs:element name="physicallimit" type="xs:string" minOccurs="0"/>
        <xs:element name="physiologicaladdictionalreadyaddicted" type="xs:string" minOccurs="0"/>
        <xs:element name="physiologicaladdictionfirsttime" type="xs:string" minOccurs="0"/>
        <xs:element name="prototypetranshuman" type="xs:integer" minOccurs="0"/>
        <xs:element name="psychologicaladdictionalreadyaddicted" type="xs:string" minOccurs="0"/>
        <xs:element name="psychologicaladdictionfirsttime" type="xs:string" minOccurs="0" />
        <xs:element name="publicawareness" type="xs:integer" minOccurs="0"/>
        <xs:element name="quality" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="rating" type="xs:integer" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="quickeningmetamagic" minOccurs="0" />
        <xs:element name="radiationresist" type="xs:string" minOccurs="0"/>
        <xs:element name="reach" type="xs:integer" minOccurs="0"/>
        <xs:element name="reflexrecorderoptimization" minOccurs="0"/>
        <xs:element name="replaceattributes" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="replaceattribute" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="min" type="xs:integer"/>
                    <xs:element name="max" type="xs:integer"/>
                    <xs:element name="aug" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="restrictedgear" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="availability" type="xs:integer"/>
              <xs:element name="amount" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runmultiplier" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="percent" type="xs:integer" minOccurs="0"/>
              <xs:element name="val" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectarmor" minOccurs="0"/>
        <xs:element name="selectattribute" minOccurs="0">
          <xs:complexType>
            <xs:choice>
              <xs:sequence>
                <xs:element name="attribute" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="val" type="xs:string" minOccurs="0"/>
              </xs:sequence>
              <xs:sequence>
                <xs:element name="excludeattribute" type="xs:string" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectattributes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="selectattribute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="val" type="xs:string" minOccurs="0"/>
                    <xs:element name="excludeattribute" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="max" type="xs:integer" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectcontact" minOccurs="0"/>
        <xs:element name="selectcyberware" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="category" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectexpertise" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="limittoskill" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectinherentaiprogram" minOccurs="0"/>
        <xs:element name="selectlimit" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectmentorspirit" minOccurs="0" />
        <xs:element name="selectparagon" minOccurs="0"/>
        <xs:element name="selectpowers" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectpower" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ignorerating" type="boolean" minOccurs="0"/>
                    <xs:element name="val" type="xs:string"/>
                    <xs:element name="limit" type="xs:string" minOccurs="0"/>
                    <xs:element name="pointsperlevel" type="xs:decimal"  minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="limittopowers" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectquality" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="quality" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="contributetobp" type="xs:string" use="optional"/>
                      <xs:attribute name="forced" type="boolean" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="discountqualities" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quality" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="discount" type="xs:integer" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectrestricted" minOccurs="0"/>
        <xs:element name="selectside" minOccurs="0"/>
        <xs:element name="selectskill" minOccurs="0" >
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="val" type="xs:string" minOccurs="0"/>
              <xs:element name="applytorating" type="xs:string" minOccurs="0"/>
              <xs:element name="disablespecializationeffects" minOccurs="0"/>
              <xs:element name="max" type="xs:integer" minOccurs="0"/>
              <xs:element name="skillcategories" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="limittoattribute" type="xs:string" use="optional"/>
            <xs:attribute name="maximumrating" type="xs:integer" use="optional"/>
            <xs:attribute name="minimumrating" type="xs:integer" use="optional"/>
            <xs:attribute name="knowledgeskills" type="xs:string" use="optional"/>
            <xs:attribute name="skillcategory" type="xs:string" use="optional"/>
            <xs:attribute name="limittoskill" type="xs:string" use="optional"/>
            <xs:attribute name="prompt" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectspell" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="ignorerequirements" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectsprite" minOccurs="0" />
        <xs:element name="selecttext" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="xml" type="xs:string" use="optional"/>
            <xs:attribute name="xpath" type="xs:string" use="optional"/>
            <xs:attribute name="allowedit" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="selecttradition" minOccurs="0" />
        <xs:element name="selectweapon" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="weapondetails" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillattribute" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:string"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="precedence" type="xs:integer" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillcategory" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:string"/>
              <xs:element name="exclude" type="xs:string" minOccurs="0"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillcategorykarmacost" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element name="min" type="xs:integer"/>
              <xs:element name="condition" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillcategorykarmacostmultiplier" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillcategorypointcostmultiplier" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillcategoryspecializationkarmacostmultiplier" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
              <xs:element minOccurs="0" name="condition" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skilldisable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="skillgroup" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:string"/>
              <xs:element name="exclude" type="xs:string" minOccurs="0"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillgroupcategorydisable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="skillgroupcategorykarmacostmultiplier" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillgroupdisable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="skillgroupdisablechoice" minOccurs="0" />
        <xs:element name="skillgrouplevel" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skilllinkedattribute" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillsoft" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="val" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="excludecategory" type="xs:string" use="optional"/>
            <xs:attribute name="skillcategory" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillsoftaccess" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="precedence" type="xs:integer" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="skillwire" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="precedence" type="xs:integer" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="smartlink" type="xs:integer" minOccurs="0" />
        <xs:element name="sociallimit" type="xs:string" minOccurs="0" />
        <xs:element name="sonicresist" type="xs:integer" minOccurs="0" />
        <xs:element name="specialattburnmultiplier" type="xs:integer" minOccurs="0" />
        <xs:element name="specialmodificationlimit" type="xs:integer" minOccurs="0" />
        <xs:element name="specificattribute" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:string" minOccurs="0"/>
              <xs:element name="max" type="xs:string" minOccurs="0"/>
              <xs:element name="min" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="precedence" type="xs:integer" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="specificpower" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="val" type="xs:integer" minOccurs="0"/>
              <xs:element name="bonusoverride" minOccurs="0" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="selectattribute" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attribute" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="selectskill" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="val" type="xs:string"/>
                          <xs:element name="skillcategories" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="category" type="xs:string" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="minimumrating" type="xs:integer" use="required"/>
                        <xs:attribute name="skillcategory" type="xs:string" use="optional"/>
                        <xs:attribute name="skillgroup" type="xs:string" use="optional"/>
                        <xs:attribute name="limittoskill" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="specificskill" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:string"/>
              <xs:element name="condition" type="xs:string" minOccurs="0"/>
              <xs:element name="applytorating" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spellcategory" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="bonus" type="xs:string" minOccurs="0"/>
              <xs:element name="val" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spellcategorydamage" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spellcategorydrain" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="category" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spelldescriptordamage" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="descriptor" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spelldescriptordrain" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="descriptor" type="xs:string"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spelldicepool" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
              </xs:choice>
              <xs:element name="val" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spellresistance" type="xs:string" minOccurs="0"/>
        <xs:element name="sprintbonus" minOccurs="0" maxOccurs="3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string"/>
              <xs:choice>
                <xs:element name="val" type="xs:integer"/>
                <xs:element name="percent" type="xs:integer"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="streetcredmultiplier" type="xs:integer" minOccurs="0"/>
        <xs:element name="stuncmrecovery" type="xs:string" minOccurs="0"/>
        <xs:element name="surprise" type="xs:string" minOccurs="0"/>
        <xs:element name="swapskillattribute" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attribute" type="xs:string"/>
              <xs:element name="limittoskill" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="swapskillspecattribute" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attribute" type="xs:string"/>
              <xs:element name="limittoskill" type="xs:string"/>
              <xs:element name="spec" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="throwrangestr" type="xs:string" minOccurs="0"/>
        <xs:element name="throwstr" type="xs:integer" minOccurs="0"/>
        <xs:element name="toxincontactimmune" minOccurs="0"/>
        <xs:element name="toxincontactresist" type="xs:string" minOccurs="0"/>
        <xs:element name="toxiningestionresist" type="xs:string" minOccurs="0"/>
        <xs:element name="toxininhalationimmune" minOccurs="0"/>
        <xs:element name="toxininhalationresist" type="xs:string" minOccurs="0"/>
        <xs:element name="toxininjectionresist" type="xs:string" minOccurs="0"/>
        <xs:element name="trustfund" type="xs:integer" minOccurs="0"/>
        <xs:element name="unarmedap" type="xs:string" minOccurs="0"/>
        <xs:element name="unarmeddv" type="xs:string" minOccurs="0"/>
        <xs:element name="unarmeddvphysical" minOccurs="0"/>
        <xs:element name="unarmedreach" type="xs:integer" minOccurs="0"/>
        <xs:element name="uneducated" minOccurs="0"/>
        <xs:element name="unlockskills" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="walkmultiplier" minOccurs="0" maxOccurs="3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="xs:string"/>
              <xs:choice>
                <xs:element name="percent" type="xs:integer"/>
                <xs:element name="val" type="xs:integer"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="weaponaccuracy" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="value" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="weaponcategorydice" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="value" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="weaponcategorydv" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectskill">
                <xs:complexType>
                  <xs:attribute name="limittoskill" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="bonus" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="weaponskillaccuracy" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:choice>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="selectskill">
                  <xs:complexType>
                    <xs:attribute name="knowledgeskills" type="xs:string" use="optional"/>
                    <xs:attribute name="skillcategory" type="xs:string" use="optional"/>
                    <xs:attribute name="excludeskill" type="xs:string" use="optional"/>
                    <xs:attribute name="excludecategory" type="xs:string" use="optional"/>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
              <xs:element name="value" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="weaponspecificdice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="unique" type="xs:string" use="optional"/>
      <xs:attribute name="useselected" type="boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
