Chummer/data/bonuses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="bonus">
  <xs:complexType>
    <xs:sequence>
    <xs:element name="adapsin" minOccurs="0" maxOccurs="1" />
    <xs:element name="addcontact" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="loyalty" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="connection" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="free" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="addqualities" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="addquality" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="select" type="xs:string" use="optional" />
            <xs:attribute name="rating" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="addspell" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    <xs:element name="adeptlinguistics" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="adeptpowerpoints" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="ambidextrous" minOccurs="0" maxOccurs="1" />
    <xs:element name="armor" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        <xs:attribute name="group" type="xs:integer" use="optional" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="armorencumbrancepenalty" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="basicbiowareessmultiplier" minOccurs="0" maxOccurs="1" />
    <xs:element name="basiclifestylecost" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="biowareessmultiplier" minOccurs="0" maxOccurs="1" />
    <xs:element name="blockskillgroupdefaulting" minOccurs="0" maxOccurs="1" />
    <xs:element name="blackmarketdiscount" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="bornrich" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="collegeeducation" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="complexformlimit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="composure" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="concealability" minOccurs="0" maxOccurs="1" />
    <xs:element name="conditionmonitor" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="physical" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="stun" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="threshold" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="precedence" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="thresholdoffset" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="precedence" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="overflow" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="critterpowers" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="power" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="select" type="xs:string" use="optional" />
            <xs:attribute name="rating" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="cyberseeker" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    <xs:element name="cyberwareessmultiplier" minOccurs="0" maxOccurs="1" />
    <xs:element name="damageresistance" minOccurs="0" maxOccurs="1" />
    <xs:element name="dealerconnection" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="drainresist" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="enableattribute" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="enabletab" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="erased" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="essencemax" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="excon" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="fadingresist" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="fame" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="flypercent" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="flyspeed" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="freenegativequalities" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="freepositivequalities" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="freespiritpowerpoints" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="friendsinhighplaces" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="genetechcostmultiplier" minOccurs="0" maxOccurs="1" />
    <xs:element name="hardwires" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        <xs:attribute name="excludecategory" type="xs:string" use="optional" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="infirm" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="initiation" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="initiative" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        <xs:attribute name="precedence" type="xs:integer" use="optional" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="initiativepass" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        <xs:attribute name="precedence" type="xs:integer" use="optional" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="initiativepassadd" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="jackofalltrades" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="judgeintentions" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="knowledgeskillpoints" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="knowsoft" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="pick" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="notgroup" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="require" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="lifestylecost" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="liftandcarry" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="lightningreflexes" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="limitmodifier" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="limit" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="linguist" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="livingpersona" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="attack" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="biofeedback" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="dataprocessing" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="firewall" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="response" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="signal" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="sleaze" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="system" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="mademan" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="martialart" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="matrixinitiative" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="matrixinitiativedice" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="precedence" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="matrixinitiativediceadd" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="memory" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="mentallimit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="movement" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="movementmultiplier" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="movementpercent" type="xs:string" minOccurs="0" maxOccurs="1" />
  <xs:element name="movementreplace" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="speed" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    </xs:element>
    <xs:element name="nativelanguagelimit" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="notoriety" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="nuyenamt" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="nuyenmaxbp" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="optionalpowers" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="optionalpower" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="select" type="xs:string" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="overclocker" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="physicallimit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="prototypetranshuman" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="publicawareness" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="quickeningmetamagic" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="reach" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="reflexrecorderoptimization" minOccurs="0" maxOccurs="1" />
    <xs:element name="replaceattributes" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="replaceattribute" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="affectbase" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="restrictedgear" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="restricteditemcount" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="schoolofhardknocks" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectarmor" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectattribute" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="excludeattribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="affectbase" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="selectattributes" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="selectattribute" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="excludeattribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="affectbase" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="selectcontact" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="mademan" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="selectinherentaiprogram" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectmentorspirit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectparagon" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectpowers" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="selectpower" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="ignorerating" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="limit" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="pointsperlevel" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="limittopowers" type="xs:string" use="optional" />
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="selectquality" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="selectrestricted" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectside" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectskill" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytoaccuracy" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="skillcategories" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="excludecategory" type="xs:string" use="optional" />
      <xs:attribute name="knowledgeskills" type="xs:string" use="optional" />
      <xs:attribute name="limittoattribute" type="xs:string" use="optional" />
      <xs:attribute name="limittoskill" type="xs:string" use="optional" />
      <xs:attribute name="skillcategory" type="xs:string" use="optional" />
      <xs:attribute name="skillgroup" type="xs:string" use="optional" />
      </xs:complexType>
    </xs:element>
    <xs:element name="selectskillgroup" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="excludecategory" type="xs:string" use="optional" />
      </xs:complexType>
    </xs:element>
    <xs:element name="selectspell" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectsprite" minOccurs="0" maxOccurs="1" />
    <xs:element name="selecttext" minOccurs="0" maxOccurs="1" />
    <xs:element name="selectweapon" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:attribute name="excludecategory" type="xs:string" use="optional" />
      </xs:complexType>
    </xs:element>
    <xs:element name="sensitivesystem" minOccurs="0" maxOccurs="1" />
    <xs:element name="skillarticulation" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="skillattribute" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="precedence" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="exclude" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="skillcategory" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="exclude" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="skillgroup" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="exclude" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="skillsoftaccess" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="skillwire" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="smartlink" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="sociallimit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="softweave" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="specificattribute" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="precedence" type="xs:integer" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="affectbase" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="specificpower" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="selectskill" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="excludecategory" type="xs:string" use="optional" />
          <xs:attribute name="knowledgeskills" type="xs:string" use="optional" />
          <xs:attribute name="limittoattribute" type="xs:string" use="optional" />
          <xs:attribute name="limittoskill" type="xs:string" use="optional" />
          <xs:attribute name="skillcategory" type="xs:string" use="optional" />
          <xs:attribute name="skillgroup" type="xs:string" use="optional" />
        </xs:complexType>
        </xs:element>
        <xs:element name="selectattribute" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="excludeattribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="aug" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="min" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="affectbase" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
        </xs:element>
        <xs:element name="selecttext" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="skillgroup" type="xs:string" use="optional" />
      </xs:complexType>
    </xs:element>
    <xs:element name="specificskill" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="0" maxOccurs="1" />
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="applytorating" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="max" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="precedence" type="xs:integer" use="optional" />
      </xs:complexType>
    </xs:element>
    <xs:element name="skillgrouplevel" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="0" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="spellcategory" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="val" type="xs:string" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="spellkarmadiscount" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="spelllimit" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="spellresistance" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="submersion" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="swapskillattribute" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="limittoskill" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="swapskillspecattribute" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="limittoskill" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="spec" type="xs:string" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="swimpercent" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="techschool" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="throwrange" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="throwstr" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="transgenicsgenetechcost" minOccurs="0" maxOccurs="1" />
    <xs:element name="trustfund" type="xs:integer" minOccurs="0" maxOccurs="1" />
    <xs:element name="unarmedap" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="unarmeddv" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="unarmeddvphysical" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="uncouth" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="uneducated" type="xs:string" minOccurs="0" maxOccurs="1" />
    <xs:element name="unlockskills" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="optional" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="weaponcategorydv" minOccurs="0" maxOccurs="1">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="selectskill" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="skillcategory" type="xs:string" use="optional" />
          </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="bonus" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      </xs:complexType>
    </xs:element>
    </xs:sequence>
    <xs:attribute name="unique" type="xs:string" use="optional" />
  </xs:complexType>
  </xs:element>
</xs:schema>