Chummer/data/conditions.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:include schemaLocation="commons.xsd"/>

  <xs:element name="required">
    <xs:complexType>
      <xs:all>
        <xs:element name="allof" type="checks" minOccurs="0" />
        <xs:element name="oneof" type="checks" minOccurs="0" maxOccurs="unbounded" />
        <xs:group ref="details" />
      </xs:all>
      <xs:attribute name="unique" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="forbidden">
    <xs:complexType>
      <xs:all>
        <xs:element name="allof" type="checks" minOccurs="0" />
        <xs:element name="oneof" type="checks" minOccurs="0" maxOccurs="unbounded" />
        <xs:group ref="details" />
      </xs:all>
      <xs:attribute name="unique" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="checks">
    <xs:all>
      <xs:element name="accessory" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="allowspiritfettering" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="armormod" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="sameparent" type="boolean" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="art" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:choice>
              <xs:element name="total" type="xs:integer" />
              <xs:element name="val" type="xs:integer" />
            </xs:choice>
            <xs:element name="natural" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributetotal" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attributes" type="xs:string"/>
            <xs:choice>
              <xs:element name="total" type="xs:integer"/>
              <xs:element name="val" type="xs:integer"/>
            </xs:choice>
            <xs:element name="natural" type="xs:string" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="bioware" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="count" type="xs:integer" use="optional" />
              <xs:attribute name="select" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="biowarecontains" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="count" type="xs:integer" use="optional" />
              <xs:attribute name="select" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="careerkarma" type="xs:integer" minOccurs="0" />
      <xs:element name="characterquality" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="extra" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="critterpower" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="cyberware" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="count" type="xs:integer" use="optional" />
              <xs:attribute name="select" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="cyberwarecategory" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="count" type="xs:integer" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="cyberwarecontains" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="count" type="xs:integer" use="optional" />
              <xs:attribute name="select" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="damageresistance" type="xs:string" minOccurs="0" />
      <xs:element name="depenabled" minOccurs="0" />
      <xs:element name="ess" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="grade" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="gameplayoption" type="xs:string" minOccurs="0" />
      <xs:element name="gear" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="minrating" type="xs:integer" use="optional" />
              <xs:attribute name="rating" type="xs:integer" use="optional" />
              <xs:attribute name="maxrating" type="xs:integer" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="group" type="checks" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="grouponeof" type="checks" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="inherited" type="xs:string" minOccurs="0" />
      <xs:element name="initiategrade" type="xs:string" minOccurs="0" />
      <xs:element name="lifestylequality" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="extra" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="magenabled" minOccurs="0" />
      <xs:element name="martialart" type="xs:string" minOccurs="0" />
      <xs:element name="martialtechnique" type="xs:string" minOccurs="0" />
      <xs:element name="metamagic" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metamagicart" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metatype" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metatypecategory" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metavariant" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="nuyen" type="xs:integer" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="power" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="program" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="quality" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="extra" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="resenabled" minOccurs="0" />
      <xs:element name="skill" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="type" type="xs:string" minOccurs="0" />
            <xs:element name="val" type="xs:integer" />
            <xs:element name="spec" type="xs:string" minOccurs="0" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="skillgrouptotal" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skillgroups" type="xs:string" />
            <xs:element name="val" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="skilltotal" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skills" type="xs:string" />
            <xs:element name="type" type="xs:string" minOccurs="0" />
            <xs:element name="val" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="specialmodificationlimit" type="xs:integer" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="spell" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="spellcategory" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="count" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="spelldescriptor" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="count" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="streetcredvsnotoriety" minOccurs="0" />
      <xs:element name="submersiongrade" type="xs:integer" minOccurs="0" />
      <xs:element name="tradition" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="traditionspiritform" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="weapon" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:group name="details">
    <xs:all>
      <xs:element name="lifestyle" type="xs:string" minOccurs="0" />
      <xs:element name="parentdetails" type="parentdetailsoptions" minOccurs="0" />
      <xs:element name="geardetails" type="geardetailoptions" minOccurs="0"/>
      <xs:element name="vehicledetails" type="vehicledetailoptions" minOccurs="0" />
      <xs:element name="weapondetails" type="weapondetailoptions" minOccurs="0" />
      <xs:element name="weaponmountdetails" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="flexibility" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="size" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="visibility" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:group>

  <xs:complexType name="condition_string">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="NOT" type="xs:string" use="optional"/>
        <xs:attribute name="operation" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="parentdetailsoptions">
    <xs:all>
      <xs:element name="OR" type="parentdetailsoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NOR" type="parentdetailsoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AND" type="parentdetailsoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NAND" type="parentdetailsoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NONE" minOccurs="0"/>

      <xs:element name="ammoforweapontype" type="condition_string" minOccurs="0"/>
      <xs:element name="attributearray" type="condition_string" minOccurs="0"/>
      <xs:element name="category" type="condition_string" minOccurs="0"/>
      <xs:element name="name" type="condition_string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:all>
    <xs:attribute name="NOT" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="geardetailoptions">
    <xs:all>
      <xs:element name="OR" type="geardetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NOR" type="geardetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AND" type="geardetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NAND" type="geardetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NONE" minOccurs="0"/>

      <xs:element name="attributearray" type="condition_string" minOccurs="0" />
      <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="attack" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="dataprocessing" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="firewall" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="sleaze" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="name" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
    </xs:all>
    <xs:attribute name="NOT" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="vehicledetailoptions">
    <xs:all>
      <xs:element name="OR" type="vehicledetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NOR" type="vehicledetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AND" type="vehicledetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NAND" type="vehicledetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NONE" minOccurs="0"/>

      <xs:element name="body" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="category" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="name" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="seats" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
    </xs:all>
    <xs:attribute name="NOT" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="weapondetailoptions">
    <xs:all>
      <xs:element name="OR" type="weapondetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NOR" type="weapondetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AND" type="weapondetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NAND" type="weapondetailoptions" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NONE" minOccurs="0"/>

      <xs:element name="ammo" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ammocategory" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="category" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="conceal" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="damage" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="mode" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="name" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="spec" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="spec2" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="type" type="condition_string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="useskill" type="condition_string" minOccurs="0" maxOccurs="unbounded" />

      <xs:element name="accessorymounts" minOccurs="0" maxOccurs="unbounded" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mount" type="xs:string" />
          </xs:sequence>
          <xs:attribute name="NOT" type="xs:string" use="optional"/>
          <xs:attribute name="operation" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="NOT" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>
