Chummer/data/gameplayoptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="chummer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gameplayoptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="gameplayoption">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="karma" type="xs:unsignedByte" />
                    <xs:element name="maxavailability" type="xs:unsignedByte" />
                    <xs:element name="maxnuyen" type="xs:unsignedByte" />
                    <xs:element name="contactmultiplier" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="default" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>