Chummer/data/metatypes.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:include schemaLocation="bonuses.xsd" />
  <xs:include schemaLocation="commons.xsd" />

  <xs:complexType name="metatype">
    <xs:all>
      <xs:group ref="baseGroup" />

      <!-- Attributes -->
      <xs:element name="bodmin" type="xs:string" />
      <xs:element name="bodmax" type="xs:string" />
      <xs:element name="bodaug" type="xs:string" />
      <xs:element name="agimin" type="xs:string" />
      <xs:element name="agimax" type="xs:string" />
      <xs:element name="agiaug" type="xs:string" />
      <xs:element name="reamin" type="xs:string" />
      <xs:element name="reamax" type="xs:string" />
      <xs:element name="reaaug" type="xs:string" />
      <xs:element name="strmin" type="xs:string" />
      <xs:element name="strmax" type="xs:string" />
      <xs:element name="straug" type="xs:string" />
      <xs:element name="chamin" type="xs:string" />
      <xs:element name="chamax" type="xs:string" />
      <xs:element name="chaaug" type="xs:string" />
      <xs:element name="intmin" type="xs:string" />
      <xs:element name="intmax" type="xs:string" />
      <xs:element name="intaug" type="xs:string" />
      <xs:element name="logmin" type="xs:string" />
      <xs:element name="logmax" type="xs:string" />
      <xs:element name="logaug" type="xs:string" />
      <xs:element name="wilmin" type="xs:string" />
      <xs:element name="wilmax" type="xs:string" />
      <xs:element name="wilaug" type="xs:string" />
      <xs:element name="inimin" type="xs:string" minOccurs="0"/>
      <xs:element name="inimax" type="xs:string" minOccurs="0"/>
      <xs:element name="iniaug" type="xs:string" minOccurs="0"/>
      <xs:element name="edgmin" type="xs:string" />
      <xs:element name="edgmax" type="xs:string" />
      <xs:element name="edgaug" type="xs:string" />
      <xs:element name="magmin" type="xs:string" />
      <xs:element name="magmax" type="xs:string" />
      <xs:element name="magaug" type="xs:string" />
      <xs:element name="resmin" type="xs:string" />
      <xs:element name="resmax" type="xs:string" />
      <xs:element name="resaug" type="xs:string" />
      <xs:element name="essmin" type="xs:string" />
      <xs:element name="essmax" type="xs:string" />
      <xs:element name="essaug" type="xs:string" />
      <xs:element name="depmin" type="xs:string" minOccurs="0"/>
      <xs:element name="depmax" type="xs:string" minOccurs="0"/>
      <xs:element name="depaug" type="xs:string" minOccurs="0"/>
      
      <xs:element name="initiativedice" type="xs:unsignedByte" minOccurs="0" />

      <!-- Movements -->
      <xs:element name="movement" type="xs:string" minOccurs="0" />
      <xs:element name="walk" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="movementType">
              <xs:attribute name="alt" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="run" minOccurs="0" >
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="movementType">
              <xs:attribute name="alt" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="sprint" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="movementType">
              <xs:attribute name="alt" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <!-- optional -->
      <xs:element ref="bonus" minOccurs="0" />

      <xs:element name="addweapon" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="category" type="xs:string" minOccurs="0" />
      <xs:element name="forceislevels" minOccurs="0" />
      <xs:element name="forms" minOccurs="0"/>
      <xs:element name="halveattributepoints" minOccurs="0" />
      <xs:element name="karma" type="xs:unsignedByte" minOccurs="0" />

      <xs:element name="qualities" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0">

            <xs:element name="positive" minOccurs="0" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="quality" maxOccurs="unbounded" >
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="removable" type="xs:string" use="optional" />
                          <xs:attribute name="select" type="xs:string" use="optional" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="negative" minOccurs="0" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="quality" maxOccurs="unbounded" >
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="removable" type="xs:string" use="optional" />
                          <xs:attribute name="select" type="xs:string" use="optional" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="qualityrestriction" minOccurs="0">
        <xs:complexType>
          <xs:sequence>

            <xs:element name="positive" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="quality" type="xs:string" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="negative" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="quality" type="xs:string" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="powers" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0">
            <xs:element name="power" maxOccurs="unbounded" >
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="select" type="xs:string" use="optional" />
                    <xs:attribute name="rating" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="metavariants" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="metavariant" type="metatype" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- critter -->

      <xs:element name="armor" type="xs:string" minOccurs="0" />
      <xs:element name="forcecreature" minOccurs="0" />

      <xs:element name="biowares" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bioware" maxOccurs="unbounded" >
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="rating" type="xs:unsignedByte" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="complexforms" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="complexform" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="select" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="optionalpowers" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0">
            <xs:choice maxOccurs="unbounded">
              <xs:element name="power" type="xs:string"/>

              <xs:element name="optionalpower">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="select" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="skills" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="skill">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="rating" type="xs:string" use="optional" />
                      <xs:attribute name="spec" type="xs:string" use="optional" />
                      <xs:attribute name="select" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="group">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="rating" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="knowledge">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="rating" type="xs:unsignedByte" use="required" />
                      <xs:attribute name="category" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Vessel -->
      <xs:element name="bp" type="xs:unsignedByte" minOccurs="0" />

    </xs:all>
  </xs:complexType>

  <xs:element name="chummer">
    <xs:complexType>
      <xs:all>

        <xs:element name="categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="metatypes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metatype" type="metatype" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
