Chummer/data/packs.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:element name="chummer">
    <xs:complexType>
      <xs:all>
        <xs:element name="categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="packs" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="pack">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="category" type="xs:string" />
                    <xs:element name="nuyenbp" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="biowares">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="bioware">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                <xs:element name="grade" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="cyberwares">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="cyberware">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                <xs:element name="grade" type="xs:string" />
                                <xs:element minOccurs="0" name="cyberwares">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="cyberware">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="gears">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="gear">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="category" type="xs:string" />
                                            <xs:element name="rating" type="xs:unsignedByte" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="armors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="armor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element minOccurs="0" name="gears">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="gear">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="category" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="mods">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="mod" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="gears">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="gear">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="select" type="xs:string" use="optional" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="category" type="xs:string" />
                                <xs:element minOccurs="0" name="qty" type="xs:unsignedShort" />
                                <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="gears">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="gear">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="category" type="xs:string" />
                                            <xs:element minOccurs="0" name="qty" type="xs:unsignedByte" />
                                            <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="lifestyles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="lifestyle">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="baselifestyle" type="xs:string" />
                                <xs:element name="months" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="vehicles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="vehicle">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="gears">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="gear">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="category" type="xs:string" />
                                            <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                            <xs:element minOccurs="0" name="gears">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="gear">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="name" type="xs:string" />
                                                        <xs:element name="category" type="xs:string" />
                                                        <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                                        <xs:element minOccurs="0" name="gears">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element maxOccurs="unbounded" name="gear">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="name" type="xs:string" />
                                                                    <xs:element name="category" type="xs:string" />
                                                                    <xs:element minOccurs="0" name="rating" type="xs:unsignedByte" />
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="weapons">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="weapon">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="weapons">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="weapon">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element minOccurs="0" name="accessories">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="accessory">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="mount" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
