Chummer/data/vehicles.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:include schemaLocation="conditions.xsd" />
  <xs:include schemaLocation="commons.xsd" />

  <xs:simpleType name="offroadOptionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([+-]?\d+|[+-]?\d+/[+-]?\d+)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="chummer">
    <xs:complexType>
      <xs:all>

        <xs:element name="categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="blackmarket" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="modcategories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="blackmarket" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="weaponmountcategories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="blackmarket" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="vehicles" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="vehicle">
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="itemGroup" />

                    <!-- attributes -->
                    <xs:element name="accel" type="offroadOptionType" />
                    <xs:element name="armor" type="xs:unsignedByte" />
                    <xs:element name="body" type="xs:unsignedByte" />
                    <xs:element name="handling" type="offroadOptionType" />
                    <xs:element name="pilot" type="xs:unsignedByte" />
                    <xs:element name="sensor" type="xs:unsignedByte" />
                    <xs:element name="speed" type="offroadOptionType" />

                    <!-- required -->
                    <xs:element name="category" type="xs:string" />
                    
                    <!-- optional -->
                    <xs:element name="modslots" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="bodymodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="weaponmodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="powertrainmodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="protectionmodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="electromagneticmodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="cosmeticmodslots" type="xs:byte" minOccurs="0" />
                    <xs:element name="seats" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="(\d+|\d+-\d+)" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="gears" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gear" maxOccurs="unbounded" >
                            <xs:complexType mixed="true">
                              <xs:sequence minOccurs="0">
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="rating" type="xs:unsignedByte" />
                                <xs:element name="maxrating" type="xs:unsignedByte" minOccurs="0" />

                                <xs:element name="gears" minOccurs="0" >
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="gear" maxOccurs="unbounded" >
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="rating" type="xs:unsignedByte" use="required" />
                                              <xs:attribute name="consumecapacity" type="boolean" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                              </xs:sequence>
                              <xs:attribute name="consumecapacity" type="boolean" use="optional" />
                              <xs:attribute name="costfor" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="rating" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="select" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="mods" minOccurs="0" >
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="addslots" type="xs:unsignedByte" minOccurs="0" />

                          <xs:element name="mod" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="subsystems" >
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cyberware">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="name" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="rating" type="xs:unsignedByte" use="optional" />
                                  <xs:attribute name="select" type="xs:string" use="optional" />
                                  <xs:attribute name="cost" type="xs:unsignedByte" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                        </xs:all>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="weaponmounts" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="weaponmount" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="allowedweapons" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="control" type="xs:string" />
                                <xs:element name="flexibility" type="xs:string" />
                                <xs:element name="size" type="xs:string" />
                                <xs:element name="visibility" type="xs:string" />

                                <xs:element name="mods" minOccurs="0" >
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="mod" type="xs:string" maxOccurs="unbounded" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="weapons" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="weapon" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="mods" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mod" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="baseGroup" />

                    <!-- required -->
                    <xs:element name="avail" type="xs:string" />
                    <xs:element name="category" type="xs:string" />
                    <xs:element name="cost" type="xs:string" />
                    <xs:element name="rating" type="xs:string" />
                    <xs:element name="slots" type="xs:string" />
                    
                    <!-- optional -->
                    <xs:element name="downgrade" minOccurs="0" />
                    <xs:element name="hide" minOccurs="0" />
                    <xs:element name="optionaldrone" minOccurs="0" />
                    <xs:element ref="required" minOccurs="0" />

                    <xs:element name="capacity" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="conditionmonitor" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="minrating" type="xs:string" minOccurs="0" />
                    <xs:element name="ratinglabel" type="xs:string" minOccurs="0" />
                    <xs:element name="weaponmountcategories" type="xs:string" minOccurs="0" />

                    <xs:element name="bonus" minOccurs="0" >
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="accel" type="Int_Rating" minOccurs="0" />
                          <xs:element name="armor" type="Int_Rating" minOccurs="0" />
                          <xs:element name="body" type="Int_Rating" minOccurs="0" />
                          <xs:element name="devicerating" type="Int_Rating" minOccurs="0" />
                          <xs:element name="handling" type="Int_Rating" minOccurs="0" />
                          <xs:element name="offroadaccel" type="Int_Rating" minOccurs="0" />
                          <xs:element name="offroadhandling" type="Int_Rating" minOccurs="0" />
                          <xs:element name="offroadspeed" type="Int_Rating" minOccurs="0" />
                          <xs:element name="pilot" type="Int_Rating" minOccurs="0" />
                          <xs:element name="seats" type="xs:string" minOccurs="0" />
                          <xs:element name="sensor" type="Int_Rating" minOccurs="0" />
                          <xs:element name="speed" type="Int_Rating" minOccurs="0" />

                          <xs:element name="selecttext" minOccurs="0" >
                            <xs:complexType>
                              <xs:attribute name="xml" type="xs:string" use="optional" />
                              <xs:attribute name="xpath" type="xs:string" use="optional" />
                              <xs:attribute name="allowedit" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>

                        </xs:all>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="subsystems" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="subsystem" type="xs:string" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="weaponmounts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weaponmount" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="itemGroup" />

                    <!-- required -->
                    <xs:element name="category" type="xs:string" />
                    <xs:element name="slots" type="xs:unsignedByte" />

                    <!-- optional -->
                    <xs:element ref="forbidden" minOccurs="0" />
                    <xs:element ref="required" minOccurs="0" />

                    <xs:element name="optionaldrone" minOccurs="0" />
                    <xs:element name="weaponcategories" type="xs:string" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="weaponmountmods" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mod" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="baseGroup" />

                    <!-- required -->
                    <xs:element name="avail" type="xs:string" />
                    <xs:element name="category" type="xs:string" />
                    <xs:element name="cost" type="xs:string" />
                    <xs:element name="rating" type="xs:unsignedByte" />
                    <xs:element name="slots" type="xs:unsignedByte" />

                    <!-- optional -->
                    <xs:element ref="required" minOccurs="0" />
                    <xs:element name="optionaldrone" minOccurs="0" />

                    <xs:element name="ammobonus" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="ammoreplace" type="xs:string" minOccurs="0" />
                    <xs:element name="ammobonuspercent" type="xs:unsignedByte" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
