Chummer/data/weapons.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">
  <xs:include schemaLocation="conditions.xsd" />
  <xs:include schemaLocation="commons.xsd" />

  <xs:simpleType name="mountType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(Barrel|Internal|Side|Stock|Top|Under|)(/(Barrel|Internal|Side|Stock|Top|Under))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="chummer">
    <xs:complexType>
      <xs:all>

        <xs:element name="categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="blackmarket" type="xs:string" use="required" />
                      <xs:attribute name="type" type="xs:string" use="required" />
                      <xs:attribute name="gunneryspec" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="weapons" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weapon" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="baseGroup" />

                    <!-- reqeired -->
                    <xs:element name="accuracy" type="xs:string" />
                    <xs:element name="ammo" type="xs:string" />
                    <xs:element name="ap" type="xs:string" />
                    <xs:element name="avail" type="xs:string" />
                    <xs:element name="category" type="xs:string" />
                    <xs:element name="conceal" type="xs:integer" />
                    <xs:element name="cost" type="xs:string" />
                    <xs:element name="damage" type="xs:string" />
                    <xs:element name="reach" type="xs:integer" />

                    <xs:element name="mode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="(0|-|BF|FA|SA|SS)(/(BF|FA|SA|SS))*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="rc">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="(-|[-]?\d+)" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Melee" />
                          <xs:enumeration value="Ranged" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
 
                    <!-- optional -->
                    <xs:element name="hide" minOccurs="0" />
                    <xs:element ref="required" minOccurs="0" />

                    <xs:element name="addweapon" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="allowaccessory" type="boolean" minOccurs="0" />
                    <xs:element name="alternaterange" type="xs:string" minOccurs="0" />
                    <xs:element name="ammocategory" type="xs:string" minOccurs="0" />
                    <xs:element name="ammoslots" type="xs:integer" minOccurs="0" />
                    <xs:element name="cyberware" type="boolean" minOccurs="0" />
                    <xs:element name="extramount" type="xs:string" minOccurs="0" />
                    <xs:element name="maxrating" type="xs:unsignedInt" minOccurs="0" />
                    <xs:element name="mount" type="mountType" minOccurs="0" />
                    <xs:element name="range" type="xs:string" minOccurs="0" />
                    <xs:element name="requireammo" type="xs:string" minOccurs="0" />
                    <xs:element name="shortburst" type="xs:integer" minOccurs="0" />
                    <xs:element name="singleshot" type="xs:integer" minOccurs="0" />
                    <xs:element name="sizecategory" type="xs:string" minOccurs="0" />
                    <xs:element name="spec" type="xs:string" minOccurs="0" />
                    <xs:element name="spec2" type="xs:string" minOccurs="0" />
                    <xs:element name="useskill" type="xs:string" minOccurs="0" />
                    <xs:element name="useskillspec" type="xs:string" minOccurs="0" />
                    <xs:element name="weapontype" type="xs:string" minOccurs="0" />

                    <xs:element name="accessories" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="accessory" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="mount" type="xs:string" minOccurs="0" />
                                <xs:element name="rating" type="xs:integer" minOccurs="0" />

                                <xs:element name="gears" minOccurs="0" >
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="usegear" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:all>

                                            <xs:element name="name">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="select" type="xs:string" use="optional" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>

                                            <xs:element name="category" type="xs:string" />
                                            <xs:element name="rating" type="xs:integer" minOccurs="0" />
                                          </xs:all>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="accessorymounts" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mount" type="xs:string" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="allowgear" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gearcategory" type="xs:string" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="doubledcostaccessorymounts" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mount" type="mountType" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="underbarrels" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="underbarrel" type="xs:string" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="accessories" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="accessory">
                <xs:complexType>
                  <xs:all>
                    <xs:group ref="itemGroup" />

                    <!-- required -->
                    <xs:element name="mount" type="mountType" />
                    <xs:element name="rating" type="xs:unsignedShort" />

                    <!-- optional -->
                    <xs:element ref="required" minOccurs="0" />
                    <xs:element ref="forbidden" minOccurs="0" />

                    <xs:element name="accessorycostmultiplier" type="xs:integer" minOccurs="0" />
                    <xs:element name="accuracy" type="xs:integer" minOccurs="0" />
                    <xs:element name="ap" type="xs:integer" minOccurs="0" />
                    <xs:element name="ammobonus" type="Int_Rating" minOccurs="0" />
                    <xs:element name="ammoslots" type="xs:integer" minOccurs="0" />
                    <xs:element name="ammoreplace" type="xs:string" minOccurs="0" />
                    <xs:element name="conceal" type="xs:string" minOccurs="0" />
                    <xs:element name="damage" type="xs:integer" minOccurs="0" />
                    <xs:element name="damagetype" type="xs:string" minOccurs="0" />
                    <xs:element name="extramount" type="mountType" minOccurs="0" />
                    <xs:element name="modifyammocapacity" type="xs:string" minOccurs="0" />
                    <xs:element name="rangemodifier" type="xs:integer" minOccurs="0" />
                    <xs:element name="rc" type="xs:integer" minOccurs="0" />
                    <xs:element name="rcdeployable" type="boolean" minOccurs="0" />
                    <xs:element name="rcgroup" type="xs:integer" minOccurs="0" />
                    <xs:element name="reach" type="xs:integer" minOccurs="0" />
                    <xs:element name="specialmodification" type="boolean" minOccurs="0" />

                    <xs:element name="addunderbarrels" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="weapon" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="allowgear" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gearcategory" type="xs:string" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="gears" minOccurs="0" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="usegear" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="category" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
