Chummer/Service References/TranslationService/translation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dndjunkie.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.dndjunkie.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dndjunkie.com/">
      <s:element name="CanUploadLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanUploadLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanUploadLanguageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadLanguageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CanUploadLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:CanUploadLanguage" />
  </wsdl:message>
  <wsdl:message name="CanUploadLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:CanUploadLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="UploadLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLanguage" />
  </wsdl:message>
  <wsdl:message name="UploadLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLanguageResponse" />
  </wsdl:message>
  <wsdl:portType name="translationSoap">
    <wsdl:operation name="CanUploadLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check to see if the user can upload a Language file.</wsdl:documentation>
      <wsdl:input message="tns:CanUploadLanguageSoapIn" />
      <wsdl:output message="tns:CanUploadLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Upload a Language file.</wsdl:documentation>
      <wsdl:input message="tns:UploadLanguageSoapIn" />
      <wsdl:output message="tns:UploadLanguageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="translationSoap" type="tns:translationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanUploadLanguage">
      <soap:operation soapAction="http://www.dndjunkie.com/CanUploadLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLanguage">
      <soap:operation soapAction="http://www.dndjunkie.com/UploadLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="translationSoap12" type="tns:translationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanUploadLanguage">
      <soap12:operation soapAction="http://www.dndjunkie.com/CanUploadLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLanguage">
      <soap12:operation soapAction="http://www.dndjunkie.com/UploadLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="translation">
    <wsdl:port name="translationSoap" binding="tns:translationSoap">
      <soap:address location="http://www.chummergen.com/dev/chummer/omae/translation.asmx" />
    </wsdl:port>
    <wsdl:port name="translationSoap12" binding="tns:translationSoap12">
      <soap12:address location="http://www.chummergen.com/dev/chummer/omae/translation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>